Repository chrisachoo/mea: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

correct workflow congif
  .github/workflows/deploy.yml
Due: none

Specify pnpm version
  package.json
Due: none

Trigger workflow
  README.md
Due: prettier --write

Trigger workfow
  src/components/sections/contact.tsx
Due: eslint --fix

correct meta head tags
  src/pages/index.astro
Due: eslint --fix

correct the component layout and add faq
  src/components/layouts/navbar.tsx
  src/components/sections/contact.tsx
  src/components/sections/faqs.tsx
  src/components/sections/why-us.tsx
  src/components/ui/background-gradient.tsx
Due: eslint --fix

Create util func and add accordion comp
  astro.config.mjs
  src/components/layouts/layout.astro
  src/components/sections/cta.tsx
  src/components/ui/accordion.tsx
  src/constants/index.ts
  src/hooks/use-pathname.ts
Due: eslint --fix

Adding accordion and creating active classes for links
  package.json
  pnpm-lock.yaml
  src/pages/index.astro
  src/styles/global.css
Due: eslint --fix

Add magic UI interactive grid pattern
  src/components/magicui/interactive-grid-pattern.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{astro,ts,tsx}
  prettier --write: any of: *.md
